* text=auto

*.ts text eol=lf
*.tsx text eol=lf
*.js text eol=lf
*.cjs text eol=lf
*.css text eol=lf
*.html text eol=lf
*.md text eol=lf
*.json text eol=lf
*.py text eol=lf
*.sql text eol=lf
*.gradle text eol=lf
*.xml text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.gif binary
*.ico binary
*.jar binary
*.dm binary

